.toasters {
    position: fixed;
    z-index: $toaster-layer;
    right: 30px;
    bottom: 30px;
}

.toaster {
    margin: 0;
    background: $white;
    border-radius: .25rem;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.05);
    margin-top: 7px;

    &.info {
        border-left: 4px solid $blue-500;
    }

    &.success {
        border-left: 4px solid $green-500;
    }

    &.error {
        border-left: 4px solid $red-500;
    }

    .icon,
    .close,
    .message {
        display: inline-block;
    }

    .message {
        width: 250px;
        font-size: $font-size-small;

        .title {
            font-weight: 600;
        }
    }

    .close {
        text-shadow: none;
        font-weight: 200;
        font-size: $font-h1;
        color: $grey-500;
    }

    .close {
        color: black;
    }

    .close:hover {
        opacity: 1;
    }
}

.toaster-animation-enter {
    opacity: 0.01;
    transform: translateX(100px);
}

.toaster-animation-enter.toaster-animation-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: all 300ms ease-in-out;
}

.toaster-animation-exit {
    opacity: 1;
    transform: translateX(0);
}

.toaster-animation-exit.toaster-animation-exit-active {
    opacity: 0.01;
    transform: translateX(100px);
    transition: all 300ms ease-in-out;
}
